<mat-tab-group>
  <mat-tab label="Personal Information">
    <div fxLayout="row" fxLayoutAlign='space-around center' fxLayoutWrap>
      <mat-form-field fxFlex="100">
        <input matInput disabled placeholder='Name' name="name" [(ngModel)]="attendee.name">
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <input matInput disabled placeholder='District' name="district"
               [(ngModel)]="attendee.district">
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <input matInput disabled placeholder='Image URL' type="url" name="image_url"
               [(ngModel)]="attendee.image_path">
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <textarea matInput matAutosizeMinRows='5' name="notes"
                  matAutosizeMaxRows='10' disabled matTextareaAutosize placeholder='Notes'
                  [(ngModel)]='attendee.notes'></textarea>

      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="Political Information">
    <div fxLayout="row" fxLayoutAlign='space-around center' fxLayoutWrap>
      <mat-form-field fxFlex="100">
        <input matInput name="job_title" disabled placeholder='Job Title'
               [(ngModel)]='attendee.job_title'>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Group" disabled [(ngModel)]='attendee.group' name="group">
          <mat-option [value]="'CNT_SUP'">
            County Board of Supervisors
          </mat-option>
          <mat-option [value]="'CNT_SHR'">
            County Sheriff
          </mat-option>
          <mat-option [value]="'CNT_HPL'">
            County Head Planner
          </mat-option>
          <mat-option [value]="'CNT_MGR'">
            County Manager
          </mat-option>
          <mat-option [value]="'CTY_CNL'">
            City Council
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <input matInput name="department" disabled placeholder='Department'
               [(ngModel)]='attendee.department'>
      </mat-form-field>
      <div fxFlex="100">
        <mat-checkbox disabled name="supports_cannabis_usage"
                      [(ngModel)]='attendee.supports_cannabis_usage'>Supports Cannabis Usage
        </mat-checkbox>
      </div>
      <div fxFlex="100">
        <br/>
        <label for="board_political_stance"><span>Political Stance:&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
        <mat-radio-group id="board_political_stance" disabled name="political_stance"
                         [(ngModel)]="attendee.political_stance" fxLayout="column">
          <mat-radio-button value="D">Democrat</mat-radio-button>
          <mat-radio-button value="R">Republican</mat-radio-button>
        </mat-radio-group>
        <br/>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

