<h2 mat-dialog-title>What date is the agenda for?</h2>
<mat-dialog-content fxLayout="column">
  <mat-form-field>
    <input matInput [matDatepicker]='picker' [max]="maxDate" placeholder='Choose a date' [(ngModel)]='output.date'>
    <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-checkbox *ngIf="lastDateString" [(ngModel)]='output.copyOfLatest'>Copy data from the last agenda on
    {{lastDateString}}<br/>(Does not include board members)
  </mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
  <span style='flex: 1 1 auto;'></span>
  <button mat-button [mat-dialog-close]='output' align='end'>Proceed</button>
</mat-dialog-actions>
