<mat-card class="member-card">
  <mat-card-header *ngIf="attendee">
    <mat-card-title>
      <div class="board-member-title">{{attendee.name}}</div>
    </mat-card-title>
    <mat-card-subtitle>{{attendee.job_title}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    &nbsp;
    <img *ngIf="attendee" class="center-cropped clickable" mat-card-image
         src="{{attendee.image_path}}" (click)="open($event)">

    <mat-spinner *ngIf="!attendee" [diameter]='50'></mat-spinner>
  </mat-card-content>
  <mat-card-actions *ngIf="attendee">
    <div style="width:100%" *ngIf="!disabled">
      <button style="margin:0" mat-button color="warn" (click)="remove($event)">Remove</button>
    </div>
  </mat-card-actions>
</mat-card>
