<h1 #target>{{city.name}}</h1>
<h3><span *ngIf='subregion'>{{subregion.name}}, </span><span *ngIf='region'>{{region.name}}</span></h3>
<mat-accordion [multi]='true'>
  <app-agenda-detail *ngIf='newAgenda' [agenda]='newAgenda' [open]='true'
                     [companies]="consultantCompanies"></app-agenda-detail>
  <app-agenda-detail [agendaUrl]='item' *ngFor='let item of city.agendas'
                     [companies]="consultantCompanies" (agendaLoaded)="trackLatest($event)"></app-agenda-detail>
</mat-accordion>
<button mat-fab class='add-agenda-button' (click)='createAgendaDialog(target)' *ngIf='!newAgenda'>
  <mat-icon>add</mat-icon>
</button>
<button mat-fab class='add-agenda-button' color='primary' (click)='save($event)' *ngIf='newAgenda'>
  <mat-icon>save</mat-icon>
</button>
<button mat-fab class='cancel-agenda-button' color='warn' (click)='cancel($event)' *ngIf='newAgenda'>
  <mat-icon>close</mat-icon>
</button>
