.add-agenda-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
}

.cancel-agenda-button {
  position: fixed;
  bottom: 75px;
  right: 0;
  margin: 50px;
}

.detail-title {
  display: inline-flex;
  vertical-align: middle;
}
