<mat-expansion-panel [expanded]='open'>
  <mat-expansion-panel-header>
    <span class='mat-body-2' *ngIf='agenda'>{{ agenda.dateString }}</span>
    <span class='mat-body-1' *ngIf='agenda && agenda.new'><i>&nbsp;&nbsp;(Draft)</i></span>
    <mat-spinner *ngIf='!agenda' [diameter]='25'></mat-spinner>
  </mat-expansion-panel-header>
  <div style='width:100%; text-align: center' *ngIf='!agenda'>
    <h3>Loading agenda details</h3>
    <mat-progress-bar [mode]="indeterminate"
                      style="width:100%;"></mat-progress-bar>
  </div>
  <div *ngIf='agenda' class='detail-container' fxLayout="row" fxLayoutWrap>
    <mat-card class="detail-section" fxFlex>
      <mat-card-header>
        <mat-card-title><span class="detail-title"><mat-icon>people</mat-icon>&nbsp;<h3 style="display: inline-block">Demographics</h3></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout='row' fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <input matInput [disabled]='!agenda.new' placeholder='Land Area' [(ngModel)]='agenda.land_area'>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput [disabled]='!agenda.new' placeholder='Population' [(ngModel)]='agenda.population'>
          </mat-form-field>
        </div>
        <div fxLayout='row' fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <input matInput [disabled]='!agenda.new' placeholder='Financial Income'
                   [(ngModel)]='agenda.financial_income'>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput [disabled]='!agenda.new' placeholder='Financial Income Per Capita'
                   [(ngModel)]='agenda.financial_income_per_capita'>
          </mat-form-field>
        </div>
        <div fxLayout='row' fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <input matInput [disabled]='!agenda.new' placeholder='Business Tax' [(ngModel)]='agenda.business_tax'>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput [disabled]='!agenda.new' placeholder='Cannabis Tax' [(ngModel)]='agenda.cannabis_tax'>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="detail-section" fxFlex>
      <mat-card-header>
        <mat-card-title><span class="detail-title"><mat-icon>polls</mat-icon>&nbsp;<h3>Votes</h3></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4><i>Political Parties</i></h4>
        <div fxLayout='row' fxLayoutGap="10px">
          <span>Democrats<br/>({{ agenda.vote_percent_democrat }})</span>
          <mat-slider [disabled]='!agenda.new' min='0' thumbLabel max='100' step='1' value='50'
                      [(ngModel)]='agenda.vote_percent_democrat' (change)='adjustRepublicans($event)'></mat-slider>
          <span>Republicans<br/>({{ agenda.vote_percent_republican }})</span>
          <mat-slider [disabled]='!agenda.new' min='0' thumbLabel max='100' step='1' value='50'
                      [(ngModel)]='agenda.vote_percent_republican' (change)='adjustDemocrats($event)'></mat-slider>
        </div>
        <hr/>
        <h4><i>Proposition 64</i></h4>
        <div fxLayout='row' fxLayoutGap="10px">
          <span>Voted 'Yes'<br/>({{ agenda.vote_percent_prop_64 }})</span>
          <mat-slider [disabled]='!agenda.new' min='0' thumbLabel max='100' step='1' value='50'
                      [(ngModel)]='agenda.vote_percent_prop_64' (change)='recalculatePropVotes($event)'></mat-slider>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-checkbox disabled [(ngModel)]='agenda.prop_64_vote'>Agreed to Proposition 64</mat-checkbox>
          <mat-checkbox [disabled]='!agenda.new' [(ngModel)]='agenda.approved_cannabis'>Approved Cannabis</mat-checkbox>
          <mat-checkbox [disabled]='!agenda.new' [(ngModel)]='agenda.medical_use'>Medical Use</mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="detail-section" fxFlex="100">
      <mat-card-header>
        <mat-card-title><span class="detail-title"><mat-icon>assignment_turned_in</mat-icon>&nbsp;<h3>Licenses</h3></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-checkbox [disabled]='!agenda.new' [(ngModel)]='agenda.cultivation_license'>Cultivation License
        </mat-checkbox>
        <mat-form-field fxFlex>
      <textarea matInput [disabled]='!agenda.new' placeholder='Allowed areas for cultivating cannabis'
                matAutosizeMinRows='3'
                matAutosizeMaxRows='10' matTextareaAutosize [(ngModel)]='agenda.cultivation_allowed_areas'></textarea>
        </mat-form-field>
        <mat-checkbox [disabled]='!agenda.new' [(ngModel)]='agenda.manufacturing_license'>Manufacturing License
        </mat-checkbox>
        <mat-form-field fxFlex>
      <textarea matInput [disabled]='!agenda.new' placeholder='Allowed areas for manufacturing cannabis products'
                matAutosizeMinRows='3'
                matAutosizeMaxRows='10' matTextareaAutosize [(ngModel)]='agenda.manufacturing_allowed_areas'></textarea>
        </mat-form-field>
        <mat-checkbox [disabled]='!agenda.new' [(ngModel)]='agenda.retail_license'>Retail License</mat-checkbox>
        <mat-form-field fxFlex>
      <textarea matInput [disabled]='!agenda.new' placeholder='Allowed areas for retailing cannabis products'
                matAutosizeMinRows='3'
                matAutosizeMaxRows='10' matTextareaAutosize [(ngModel)]='agenda.retail_allowed_areas'></textarea>
        </mat-form-field>
        <mat-checkbox [disabled]='!agenda.new' [(ngModel)]='agenda.distribution_license'>Distribution License
        </mat-checkbox>
        <mat-checkbox [disabled]='!agenda.new' [(ngModel)]='agenda.microbusiness_license'>Microbusiness License
        </mat-checkbox>
        <mat-checkbox [disabled]='!agenda.new' [(ngModel)]='agenda.laboratory_license'>Laboratory License</mat-checkbox>
      </mat-card-content>
    </mat-card>
    <div fxLayout="row" fxFlex="100">
      <mat-card class="detail-section" fxFlex>
        <mat-card-header fxLayout="row">
          <div fxFlex="grow">
            <mat-card-title><span class="detail-title"><mat-icon>business</mat-icon>&nbsp;<h3
              style="display: inline-block">Consultant Company</h3></span>
            </mat-card-title>
          </div>
          <button *ngIf="consultantCompany && agenda.new" (click)="clearConsultantCompany($event)" mat-icon-button
                  color="warn" style="float:right">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <app-consultant-company *ngIf="(consultantCompany && agenda.new)||!agenda.new"
                                  [consultantCompany]="consultantCompany" [disabled]="true"></app-consultant-company>
          <div *ngIf="!consultantCompany && agenda.new" fxLayout="column">
            <mat-form-field>
              <input placeholder="Search for a consultant company" matInput [matAutocomplete]="companies"
                     [formControl]="detailControl">
            </mat-form-field>
            <mat-autocomplete #companies="matAutocomplete" [displayWith]="display"
                              (optionSelected)="updateConsultantCompany($event)">
              <mat-option *ngFor="let option of filteredCompanies | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <div style="text-align: center">OR</div>
            <br/>
            <div fxFlex style="text-align: center">
              <button mat-raised-button color="accent" (click)="createConsultantCompanyDialog($event)">
                <mat-icon>add</mat-icon>&nbsp;Add a consultant company
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="detail-section" fxFlex>
        <mat-card-header>
          <div fxFlex="grow">
            <mat-card-title><span class="detail-title"><mat-icon>person</mat-icon>&nbsp;<h3
              style="display: inline-block">Consultant</h3></span>
            </mat-card-title>
          </div>
          <button *ngIf="consultant && agenda.new" (click)="clearConsultant($event)" mat-icon-button color="warn"
                  style="float:right">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <app-consultant-employee *ngIf="consultantCompany && ((consultant && agenda.new)||!agenda.new)"
                                   [consultant]="consultant" [disabled]="true"></app-consultant-employee>
          <div *ngIf="consultantCompany && (!consultant && agenda.new)" fxLayout="column">
            <mat-form-field>
              <input placeholder="Search for a consultant" matInput [matAutocomplete]="employees"
                     [formControl]="employeeControl">
            </mat-form-field>
            <mat-autocomplete #employees="matAutocomplete" [displayWith]="display"
                              (optionSelected)="updateConsultant($event)">
              <mat-option *ngFor="let option of filteredEmployees | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <div style="text-align: center">OR</div>
            <br/>
            <div fxFlex style="text-align: center">
              <button mat-raised-button color="accent" (click)="createConsultantDialog($event)">
                <mat-icon>add</mat-icon>&nbsp;Add a consultant
              </button>
            </div>
          </div>
          <div *ngIf="!consultantCompany" style="margin: 0">
            <span *ngIf="agenda.new" class="mat-subheader">Select a consultant company first</span>
            <span *ngIf="!agenda.new" class="mat-subheader">Not applicable</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card class="detail-section" fxFlex>
      <mat-card-header>
        <mat-card-title><span class="detail-title"><mat-icon>speaker_notes</mat-icon>&nbsp;<h3>Notes</h3></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex>
          <input matInput [disabled]='!agenda.new' placeholder='Link to agenda video' type='url'
                 [(ngModel)]='agenda.link_to_video'>
          <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
      <textarea matInput [disabled]='!agenda.new' placeholder='Agenda notes' matTextareaAutosize matAutosizeMinRows='3'
                matAutosizeMaxRows='10' matTextareaAutosize [(ngModel)]='agenda.notes'></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</mat-expansion-panel>
