/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit
}

body {
  width: 100%;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.container {
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
}

.nav-bar {
  background: transparent;
}

.nav-tab-group {
  float: left;
}

.nav-user-group {
  width: 100%;
  text-align: right;
}

.card-item {
  width: 100px;
  margin: 10px;
}

.member-card {
  max-width: 200px;
  max-height: 300px;
  min-width: 200px;
  min-height: 300px;
  margin: 10px;
}

//.member-card img {
//  max-height: 100px;
//}

.center-cropped {
  object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 248px;
}

.wide-select {
  min-width: 400px;
  width: 400px;
}

.clickable{
  cursor: pointer;
}
