<form>
  <mat-horizontal-stepper linear>
    <mat-step label="Personal Information">
      <div fxLayout="row" fxLayoutAlign='space-around center' fxLayoutWrap>
        <mat-form-field fxFlex="100">
          <input matInput [formControl]='nameControl' placeholder='Name' name="name" [(ngModel)]="attendee.name">
          <mat-error *ngIf="nameControl.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <input matInput [formControl]='districtControl' placeholder='District' name="district"
                 [(ngModel)]="attendee.district">
          <mat-error *ngIf="districtControl.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <input matInput placeholder='Image URL' type="url" name="image_url"
                 [(ngModel)]="attendee.image_path">
        </mat-form-field>
        <div fxFlex="100">
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step label="Political Information">
      <div fxLayout="row" fxLayoutAlign='space-around center' fxLayoutWrap>

        <mat-form-field fxFlex="100">
          <input matInput name="job_title" [formControl]='titleControl' placeholder='Job Title'
                 [(ngModel)]='attendee.job_title'>
          <mat-error *ngIf="titleControl.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <mat-select placeholder="Group" [formControl]='groupControl' [(ngModel)]='attendee.group' name="group">
            <mat-option [value]="'CNT_SUP'">
              County Board of Supervisors
            </mat-option>
            <mat-option [value]="'CNT_SHR'">
              County Sheriff
            </mat-option>
            <mat-option [value]="'CNT_HPL'">
              County Head Planner
            </mat-option>
            <mat-option [value]="'CNT_MGR'">
              County Manager
            </mat-option>
            <mat-option [value]="'CTY_CNL'">
              City Council
            </mat-option>
          </mat-select>
          <mat-error *ngIf="groupControl.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <input matInput name="department" [formControl]='departmentControl' placeholder='Department'
                 [(ngModel)]='attendee.department'>
          <mat-error *ngIf="departmentControl.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div fxFlex="100">
          <mat-checkbox name="supports_cannabis_usage"
                        [(ngModel)]='attendee.supports_cannabis_usage'>Supports Cannabis Usage
          </mat-checkbox>
        </div>
        <div fxFlex="100">
          <br/>
          <label for="board_political_stance"><span>Political Stance:&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
          <mat-radio-group id="board_political_stance" name="political_stance"
                           [(ngModel)]="attendee.political_stance" fxLayout="column">
            <mat-radio-button value="D">Democrat</mat-radio-button>
            <mat-radio-button value="R">Republican</mat-radio-button>
          </mat-radio-group>
          <br/>
        </div>
        <div fxFlex="100">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step label="Notes">
      <div fxLayout="row" fxLayoutAlign='space-around center' fxLayoutWrap>
        <mat-form-field fxFlex="100">
        <textarea matInput matAutosizeMinRows='5' name="notes"
                  matAutosizeMaxRows='10' [formControl]="notesControl" matTextareaAutosize placeholder='Notes'
                  [(ngModel)]='attendee.notes'></textarea>
          <mat-error *ngIf="notesControl.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div fxFlex="100">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step label="Confirmation" fxLayout="column" fxLayoutAlign='space-around center'>
      <div fxFlex="100">
        <span *ngIf="valid">
        Confirm addition of new Board Member {{attendee.name}}?
          </span>
        <span *ngIf="!valid">
          Please provide the required fields
        </span>
      </div>

      <div fxFlex="100">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button color="accent" [mat-dialog-close]='attendee' [disabled]="!valid">Add</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
