<!doctype html>
<html lang="en">
<head>
    <base href="/app/">
    <meta charset="utf-8">
    <title>Frontend</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography" style="background: url('/static/assets/california.jpg') fixed center;">
<div class="container">
    <app-root></app-root>
</div>
<script type="text/javascript" src="/static/inline.bundle.js"></script>
<script type="text/javascript" src="/static/polyfills.bundle.js"></script>
<script type="text/javascript" src="/static/styles.bundle.js"></script>
<script type="text/javascript" src="/static/vendor.bundle.js"></script>
<script type="text/javascript" src="/static/main.bundle.js"></script>
</body>
</html>
